.search__icon {
  position: absolute;
  left: 12px;
}

.search__cancel {
  color: #ffffff;
  position: absolute;
  right: 15px;
  z-index: 1000;
  cursor: pointer;
}

.search__input:focus + .search__icon {
  color: #ffffff;
}

.search {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.search__input {
  width: 100%;
  outline: none;
  border: none;
}

.search__dropdown {
  display: none;
}
.search__dropdown.search__dropdown--active {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: block;
  list-style: none;
}
.search__item {
  font-size: 1.5rem;
  display: block;
  width: 100%;
  color: #708090;
  padding: 1rem 2rem;
  text-decoration: none;
}
.search__item:hover {
  cursor: pointer;
}
